@use '../../../styles/variables';

.slider-container {
  width: 300px;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
}
.swiper-zoom-container {
  height: 90vh !important;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-button-next-1, 
  .swiper-button-prev-1,
  .swiper-button-next-2, 
  .swiper-button-prev-2
   {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    
    z-index: 10;
    transform: translateY(-50%);
    transition: right 0.3s ease, left 0.3s ease, transform 0.3s ease;
  }
  .swiper-button-next-1,
  .swiper-button-next-2
  {
    right: 3vw;
  }

  .swiper-button-prev-1,
  .swiper-button-prev-2
  {
    left: 3vw;
  }
 
  .expand-button, .close-button {
    z-index: 20;
  }

}

.expand-button {
  position: absolute;
  display: flex;
  gap: 10px;
  top: -25px;
  right: -10px;
  color: variables.$text-color;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
     svg {
      path {
        fill: variables.$text-color;
      }
     }
  &:hover, &:active {
    color: variables.$message;
    svg {
      path {
        fill: variables.$message;
      }
     }
  }
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: variables.$message;
  color: variables.$background-color;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;

  &:hover {
    color: variables.$message;
    background: variables.$background-color;
  }
}


.swiper-button-next-1, 
.swiper-button-prev-1,
.swiper-button-next-2, 
.swiper-button-prev-2
 {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  transition: right 0.3s ease, left 0.3s ease, transform 0.3s ease;
}




// .swiper-button-prev-1 {
//   width: 30px;
//   height: 30px;
//   background-color: aqua;
// }

// .swiper-button-prev-2 {
//   width: 30px;
//   height: 30px;
//   background-color: rgb(18, 121, 31);
// }





